.items {
  margin-top: 0.1em;
  padding: 1em;
  outline: none;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-description {
  display: flex;
}

.item-value {
  display: flex;
}

.desc {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.val {
  font-size: 1.5em;
  color: red;
}
