/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

}

@media (min-width:600px) {
  html {
    font-size: 16px;
    /* margin-left: 20px;
    margin-right: 20px; */
  }
}

@media (min-width:1024px) {
  html {
    font-size: 18px;
  }
}

@media(min-width:1600px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
