.container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;

}

.label-expenses {
  margin-bottom: 1em;
}

.label {
  font-size: 4em;
  color: red;
}
