<div class="container">
  <div class="budget">
    <div class="date">
      Available Budget in {{ currentDate | date:'dd-MM-yyyy' }} :
    </div>
    <div class="total-summary">
      <p>{{incomeValue - expenseValue}} BGN</p>
    </div>
  </div>

  <div class="buttons">
    <p class="label">Add:</p>
    <div class="buttons-action">
      <button type="button" class="btn income" (click)="onIncomeClicked()">Income</button>
      <button type="button" class="btn expense" (click)="onExpenseClicked()">Expense</button>
    </div>
  </div>

  <form [formGroup]="addForm" (ngSubmit)="onAddClicked()">
    <div class="inputs">

      <div class="inputs-value">

        <div>
          <input type="text" name="description" placeholder="Add Description" class="add_description"
            formControlName="description" [(ngModel)]="inputDescription"
            [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">
        </div>

        <div>
          <input type="number" name="value" placeholder="Value" class="add_value" formControlName="value"
            [(ngModel)]="inputValue" [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">
        </div>

      </div>


      <button type="submit" class="add-button"
        [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">Add</button>
    </div>
  </form>
</div>
