<div class="container">
  <div class="budget">
    <div class="date">
      Available Budget in {{ currentDate | date:'dd-MM-yyyy' }} :
    </div>
    <div class="total-summary">
      <p>{{incomeValue - expenseValue}} BGN</p>
    </div>
  </div>

  <div class="buttons">
    <p class="label">Add:</p>
    <div class="buttons-action">
      <button type="button" class="btn income" (click)="onIncomeClicked()">Income</button>
      <button type="button" class="btn expense" (click)="onExpenseClicked()">Expense</button>
    </div>
  </div>

  <form [formGroup]="addForm" (ngSubmit)="onAddClicked()">
    <div class="inputs">

      <div class="inputs-value">
        <div>
          <input type="text" name="description" placeholder="Add Description" class="add_description"
            formControlName="description" [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">
          <p *ngIf="!addForm.get('description')?.valid && addForm.get('description')?.touched" class="error-message">
            Please enter description</p>
        </div>

        <div>
          <input type="number" name="value" placeholder="Value" class="add_value" formControlName="value"
            [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">
          <p *ngIf="!addForm.get('value')?.valid && addForm.get('value')?.touched" class="error-message">Please enter
            valid number</p>
        </div>
      </div>

      <div class="button-value">
        <button type="submit" class="add-button"
          [ngClass]="{'incomeColor' : showIncomeForm,'expenseColor':showExpenseForm}">Add</button>
        <p *ngIf="!addForm.valid && addForm.touched" class="error-message">Please fill the required fields</p>
      </div>

    </div>
  </form>
</div>
