.summary {
  text-align: center;
  background: url('../../assets/stephen-phillips-hostreviews-co-uk-em37kS8WJJQ-unsplash.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto
}

.amounts {
  display: flex;
}

.amounts div {
  flex-grow: 1;
  padding: 3em;
  margin: 3em;
}
